{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "static": "static"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "presets": ["next/babel"],
  "ignore": []
}
